
{% extends '_template.html.twig' %}

{% block title %} Event {% endblock %}

{% block content %}

    <div class="section">
        <h1 class="title"> Thémes: </h1>
        <div class="columns is-multiline">
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,Music/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Music</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,Movie/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Cinéma</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,Team_Building/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Team Building</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,conference/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Conférence</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,Family/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Familiaux</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,night/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Soirée</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,city/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Ville</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/event,sport/all" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h1>Sport</h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
    </div>
    </div>

{% endblock %}
